.home{
    width: 100%;

    background-color: var(--grey-4);
    padding: 150px 0 100px;
}
.home__content{
    width: 95%;
    max-width: 1200px;
    margin: auto;
    padding: 5px;

    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 40px;
}
.home__intro{
    display: flex;
    align-items: center;
    gap: 20px;
}
.home__intro>img{
    width: 30px;
    height: 30px;

    border-radius: 50%;
    object-fit: cover;
}
.home__buttons{
    display: flex;
    gap: 20px;
}
.home__buttons>a{
    height: 48px;

    background-color: var(--grey-1);
    padding: 2px;
    border-radius: 50%;
}
.home__languages{
    max-width: 100%;
    height: 130px;
    overflow: scroll;

    padding: 0 50px;
    scroll-behavior: auto;
    
    display: flex;
    align-items: center;
}
.home__languages__container{
    width: 100%;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.home__languages__gradient{
    content: "";
    
    width: 25%;
    height: 100%;

    position: absolute;
    top: 0;
}
.home__languages__container .home__languages__gradient:nth-child(3){
    background: linear-gradient(90deg, rgba(33,37,41,1) 0%, rgba(33,37,41,0) 100%);
    left: 0;
}
.home__languages__container .home__languages__gradient:nth-child(4){
    background: linear-gradient(90deg, rgba(33,37,41,0) 0%, rgba(33,37,41,1) 100%);
    right: 0;
}
.home__languages>li{
    list-style: none;
    min-width: 200px;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.home__languages>li>img{
    height: 80px;
    transition: 0.3s;
}
.home__languages>li>img:hover{
    height: 120px;
}


@media(max-width: 500px){
    .home__content{
        padding: 0 12px;
        
    }
}