.projects{
    width: 100%;

    background-color: var(--grey-5);
    padding: 100px 0;
}
.projects__content{
    width: 95%;
    max-width: 1200px;
    margin: auto;
    padding: 5px;

    display: flex;
    flex-direction: column;
    gap: 40px;
}
.projects__list{
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 35px;
}
.projects__list__card{
    width: 350px;
    min-height: 230px;

    display: flex;
    flex-direction: column;
    gap: 15px;
}
.projects__list__card a{
    color: var(--grey-3);
    text-decoration: none;

    display: flex;
    align-items: center;
    gap: 15px;

    transition: 0.1s;
}
.projects__list__card a:hover{
    color: var(--grey-1);
}
.projects__list__card>a>img{
    height: 100%;
}
.projects__list__card>div{
    display: flex;
    gap: 40px;
}


@media(max-width: 400px){
    .projects__list__card{
        width: 300px;
    }
    .projects__content{
        padding: 0 12px;
    }
}