.button-primary{
    width: max-content;
    height: 48px;

    background-color: var(--color-primary);
    padding: 0 15px;
    border: none;
    border-radius: 15px;

    color: var(--grey-1);

    transition: 0.2s;
    cursor: pointer;
}
.button-primary:hover{
    background-color: var(--color-primary-50);
}