header{
    width: 100vw;

    position: fixed;
    z-index: 999;
    background-color: var(--grey-5);    
}
#bar{
    width: 0%;
    padding: 0;
    height: 3px;
    position: absolute;

    background: var(--color-primary);
}
header>div{
    width: 90%;
    max-width: 1200px;
    margin: auto;

    padding: 15px 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.nav__options{
    height: max-content;

    display: flex;
    justify-content: center;
    gap: 20px;

    transition: 0.5s ease-in-out;
}
.nav__options>h3{
    color: var(--grey-3);

    transition: 0.3s;
    cursor: pointer;
}
.nav__options>h3:hover{
    color: var(--grey-1);
}
.nav__icon{
    display: none;

    transition: 0.2s;
}
.nav__icon>svg{
    width: 20px;
    height: 20px;
}



@media(max-width:500px){

    .nav__options{
        width: 100%;
        height: 0;

        overflow-y: hidden;
        
        flex-direction: column;
    }
    .nav__icon{
        display: flex;
        align-items: center;
    }
}