h1{
    font-size: 1.75rem;
    font-weight: 700;
}
h2{
    font-size: 1.5rem;
    font-weight: 700;
}
h3{
    font-size: 1.25rem;
    font-weight: 700;
}
h4{
    font-size: 1.125rem;
    font-weight: 700;
}
.headline{
    font-size: 1rem;
    font-weight: 400;
}
p{
    font-size: 0.875rem;
    font-weight: 400;
}


.primary-text{
    color: var(--color-primary);
}
.tertiary-text{
    color: var(--color-tertiary);
}
.grey2-text{
    color: var(--grey-2);
}
.grey3-text{
    color: var(--grey-3);
}



@media(max-width:768px){
    h1{
        font-size: 1.35rem;
    }
    h2{
        font-size: 1.175rem;
    }
}